.climateInfo {
  background-color: #100E1D;
  width: 70%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  color: $color-gray;
  padding: 3rem 6rem;
  
  overflow-y: scroll;
  
  @include respond(phone) {
    width: 100%;
    overflow-y: visible;
    height: auto;
    padding: 3rem 4rem;
  }
  
  &__temperatureCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    @include respond(phone) {
      justify-content: center;
    }
  }
  
  &__dataClimateTitle {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  
  &__dataClimateGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-template-rows: repeat(2, min-content);
    grid-gap: 2rem;
  }
}