.loading {
  position: absolute;
  background-color: #1E213A;
  height: 100vh;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  
  z-index: 100;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
    animation: bounce .5s infinite alternate;
  }
  
  &__logo {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
  
  &__title {
    font-size: 4rem;
    font-weight: 400;
    color: $color-gray;
    margin-bottom: 1.5rem;
  }
  
  &__warning {
    font-size: 1rem;
    font-weight: 200;
    color: $color-gray;
  }
}